/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

html {
			scroll-behavior: smooth;
		}

/*BG Image, Google Fonts and Auto Resize*/

#ibody {
				font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
				background-color: #01000A;
				/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='284' height='284' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23093B2E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23012624'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");*/
				background-image: url(./images/arkbg.png);
				background-size: cover;
				background-color: #0a192f;
				font-family: 'Lekton';
				background-attachment: fixed;
			}

/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape){
body {
			  
			  background-image: url(./images/arkbg.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}*/
@media only screen and (min-width: 1366px) and (orientation: landscape){
body
				{
			  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='284' height='284' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23093B2E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23012624'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");*/
			  /*background-color: #01000A;*/
			  /*background-color: #0a192f;*/
			  background-image: url(./images/ipadpro12ls.png);
			  background-size: cover;
				background-attachment: fixed;
			  }

}

@media only screen and (max-width: 1024px) and (orientation: portrait){
body
				{
			  
			  background-image: url(./images/ipadpro12port.png);
			  background-size: cover;
				/*background-color: #0a192f;*/
				background-attachment: fixed;
			  }

}
 

@media screen and (max-width: 1150px) {
body {
			  
			  background-image: url(./images/ipad10.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}


@media screen and (max-width: 1026px) {
body {
			  
			  background-image: url(./images/ipad12.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}

@media screen and (max-width: 850px) {
body {
			  
			  background-image: url(./images/ipad8.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}

@media screen and (max-width: 736px) {
body {
			  
			  background-image: url(./images/ipad8.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}


@media screen and (max-width: 450px) {
body {
			  
			  background-image: url(./images/bgmobile.png);
			  background-size: cover;
				background-color: #0a192f;
				background-attachment: fixed;
			  }
}

#navmain {
					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
					background-color: #230303;
					background-color: rgba(0,0,0,0.5);
    			font-family: 'Cutive Mono';
  				font-size: 15px;

				}


.line1 {
				  border:none;
				  border-top:1px solid #59e2c5;
				  width: 100%;
				  text-align: center;
			}

#quote1 {
					border-radius: 50px;
					background-color: #230303;
					font-style: italic;
					font-size: 1.2rem;
					color: #8892b0;
				}				

#intro {

			margin-left: 15%;
			/*margin-right: 20%;*/

}

#hello1 {
					color: #59e2c5;
					font-size: 1.2rem;
				}

#nald {
				
				font-family: 'Arial';
				font-size: 6vw;
				font-weight: bolder;
				color: #ccd6f6;
			}


@media screen and (max-width: 450px) {
  #nald {
			  
			    font-size: 7.9vw;
			    margin-bottom: -10%;
			  }
}

@media screen and (max-width: 300px) {
  #nald {
			    font-size: 6.6vw;
			    margin-bottom: -20%;

			  }
}

#help {
				margin-top: -7%;
				font-family: 'Arial';
				font-size:4vw;
				font-weight: bold;
				color: #8892b0;
			}


#describe{
						font-family: 'Arial';
						/*justify-content: center;*/
						color: #909ab7;
						font-size: 2.5vw;
						margin-bottom: -7%;
					}

#aboutme {
						margin-left: 20%;
						font-family: 'Lekton';
						font-size: 2rem;
						font-weight: bold;
						color: #59e2c5;
					}

@media screen and (max-width: 920px) {
  #describe {
    
					    margin-top: -10%;
					  }
}

@media only screen and (max-width: 420px) {
  #describe {
				    margin-top: -20%;
				    font-size: 4vw;
  					}
}

@media only screen and (max-width: 300px) {
  #describe {
				    margin-top: -35%;
				    margin-bottom: -50%;
  					}
}

#photo {
					margin-left: 16%;
					
				}

@media only screen and (max-width: 912px) {
  #photo {
				    margin-left: 30%;
  					}
}

@media only screen and (max-width: 450px) {
  #photo {
				    margin-left: 10%;
  					}
}


@media only screen and (max-width: 300px) {
  #photo {
				    margin-left: -6.5%;
  					}
}

#photo2 {
					box-shadow:20px 20px 50px rgb(0 0 0 / 0.6);

}

.hello-card {
							font-size: 1.5rem;
						}

#aboutcard-corner {
									background-color: rgba(0,0,0,0.1);
									border-radius: 50px;

									}

#card-text {
						font-size: 1.3rem;
						text-align: center;
					}

#css-box {
						background-color: rgba(0,0,0,0.1);
						border-radius: 50px;
					}

#styling-box {
						background-color: rgba(0,0,0,0.1);
						border-radius: 50px;
					}

#bootstrap-box {
								background-color: rgba(0,0,0,0.1);
								border-radius: 50px;
						}

h2 {
		font-weight: italic;
		color: #59e2c5;
	}

#form1 {
				background-color: rgba(0,0,0,0.1);
				border-radius: 50px;
			}

#form1 form textarea {
												background-color: #fdfdfc;
											}

#form1 form input {
										background-color: #fdfdfc;
									}

#coninfo {
					margin-top: 10%;
					text-align: left;
					margin-right: 6%;
					margin-left: 6%;
					font-size: 1.3rem;
				}

#coninfo h3 {
							color: #59e2c5;
						}


.line2 {
			  border:none;
			  border-top:1px dashed #59e2c5;
			  width: 80%;
			  text-align: center;
			}

/* Socmed Sticky container Start*/
.sticky-icon {
							  z-index: 1;
							  position: fixed;
							  top: 38%;
							  right: 0%;
							  width: 220px;
							  display: flex;
							  flex-direction: column;
							}

.sticky-icon a {
							  transform: translate(160px, 0px);
							  border-radius: 50px 0px 0px 50px;
							  text-align: left;
							  margin: 2px;
							  text-decoration: none;
							  text-transform: uppercase;
							  padding: 10px;
							  transition: all 0.8s;
							}

.sticky-icon a:hover {
										  color: #fff;
										  transform: translate(0px, 0px);
										}

.sticky-icon a:hover i {
											  transform: rotate(360deg);
											}

.sticky-icon a i {
									  height: 40px;
									  width: 40px;
									  color: #000;
									  text-align: center;
									  line-height: 40px;
									  border-radius: 50%;
									  margin-right: 20px;
									  transition: all 0.5s;
									}

.sticky-icon a i.fa-facebook-f {
									  color: #59e2c5;
									}

.sticky-icon a i.fa-instagram {
									  color: #59e2c5;
									}

.sticky-icon a i.fa-linkedin {
									  color: #59e2c5;
									}

.sticky-icon a i.fa-gitlab {
									  color: #59e2c5;
									}

#myBtn {
			  height: 50px;
			  display: none;
			  position: fixed;
			  bottom: 20px;
			  right: 30px;
			  z-index: 99;
			  text-align: center;
			  padding: 10px;
			  text-align: center;
			  line-height: 40px;
			  border: none;
			  outline: none;
			  background-color: #1e88e5;
			  color: white;
			  cursor: pointer;
			  border-radius: 50%;
			}

.fa-arrow-circle-up {
										  font-size: 30px;
										}

#myBtn:hover {
							  background-color: #555;
							}

/* Socmed Sticky container End*/

.line3 {
					border:none;
				  border-top:1px solid #59e2c5;
				  width: 100%;
				  text-align: center;
				}

footer {

	font-size: 1.5vw;
}